In [1]:
import pandas as pd
import numpy as np
import requests
import re
from bs4 import BeautifulSoup

# Cazoo Scrapping

## Main Page

In [2]:
url = 'https://www.cazoo.co.uk/cars/'
res = requests.get(url)
res

In [3]:
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
tbody = table.find_all('li')
tr = tbody[2]
make_model = tr.find(attrs={'class':'vehicle-cardstyles__CustomTitle-sc-1bxv5iu-8 vEuQf'}).text
version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
dets= tr.find_all(attrs={'data-test-id':'tags'})
version = version.split()
engine = ''.join(version[0])
trim = " ".join(version[1:])
price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text

In [4]:
split = make_model.split()
split[0]

'Skoda'

In [5]:
details = None
registration = None

for span in dets:
    if "miles" in span.text:
        details = span.text

#print("details", details)
parts = details.split()
mileage = details[0]
parts

['69,660', 'miles2018', 'regManualPetrol']

In [6]:
tbody = tbody[2:]

In [7]:
vehicles = []
for tr in tbody:
    make_model = tr.find(attrs={'data-test-id':'card-title'}).text
    makemod = make_model.split()
    make = makemod[0]
    model = ' '.join(makemod[1:])
    version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
    version = version.split()
    engine = ''.join(version[0])
    trim = " ".join(version[1:])
    dets = tr.find_all(attrs={'data-test-id':'tags'})
    details = dets[0]
    details_str = str(details)  # Convert the first object in the list to a string
    matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
    Electric)', details_str)
    trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
    mileage = matches[0] if 'miles' in matches[0] else None
    registration = matches[1] if 'reg' in matches[1] else None
    fuel_type = matches[3] if any(keyword in matches[3] for keyword in ['Petrol', 'Diesel', \
                                                            'Hybrid', 'Electric']) else None
    price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
    vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
    vehicles.append(vehicle)

In [8]:
pd.DataFrame(vehicles).head()

,make,model,engine_size,trim,mileage,reg_year,transmission_type,fuel_type,price
0,Skoda,Citigo,1.0,MPI Colour Edition,"69,660 miles",2018 reg,Manual,Petrol,"£6,600"
1,Kia,Rio,1.25,1,"81,605 miles",2016 reg,Manual,Petrol,"£5,700"
2,Peugeot,108,1.2,PureTech Allure,"60,519 miles",2018 reg,Manual,Petrol,"£6,950"
3,Smart,forfour,1.0,Pure,"30,606 miles",2018 reg,Manual,Petrol,"£7,050"
4,Fiat,500,1.2,Lounge,"36,651 miles",2018 reg,Manual,Petrol,"£7,950"

In [10]:
for i in range(2, 94):
    url = 'https://www.cazoo.co.uk/cars/?page=' + str(i)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
    tbody = table.find_all('li')
    tbody = tbody[2:]
    for tr in tbody:
        make_model = tr.find(attrs={'data-test-id':'card-title'}).text
        makemod = make_model.split()
        make = makemod[0]
        model = ' '.join(makemod[1:])
        version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
        version = version.split()
        engine = ''.join(version[0])
        trim = " ".join(version[1:])
        dets = tr.find_all(attrs={'data-test-id':'tags'})
        details = dets[0]
        details_str = str(details)  # Convert the first object in the list to a string
        matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
        Electric)', details_str)
        trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
        mileage = matches[0] if 'miles' in matches[0] else None
        registration = matches[1] if 'reg' in matches[1] else None
        fuel_type = matches[3] if any(keyword in matches[3] for keyword in ['Petrol', 'Diesel', \
                                                            'Hybrid', 'Electric']) else None
        price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
        vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
        vehicles.append(vehicle)

IndexError: list index out of range

## Audi

In [ ]:
url = 'https://www.cazoo.co.uk/cars/audi/'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
tbody = table.find_all('li')
tbody = tbody[2:]

In [ ]:
for tr in tbody:
    make_model = tr.find(attrs={'data-test-id':'card-title'}).text
    makemod = make_model.split()
    make = makemod[0]
    model = ' '.join(makemod[1:])
    version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
    version = version.split()
    engine = ''.join(version[0])
    trim = " ".join(version[1:])
    dets = tr.find_all(attrs={'data-test-id':'tags'})
    details = dets[0]
    details_str = str(details)  # Convert the first object in the list to a string
    matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
    Electric)', details_str)
    trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
    mileage = matches[0] if 'miles' in matches[0] else None
    registration = matches[1] if 'reg' in matches[1] else None
    fuel_type = matches[3] if any(keyword in matches[3] for keyword in ['Petrol', 'Diesel', \
                                                            'Hybrid', 'Electric']) else None
    price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
    vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
    vehicles.append(vehicle)

In [12]:
for i in range(2, 6):
    url = 'https://www.cazoo.co.uk/cars/audi/?page=' + str(i)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
    tbody = table.find_all('li')
    tbody = tbody[2:]
    for tr in tbody:
        make_model = tr.find(attrs={'data-test-id':'card-title'}).text
        makemod = make_model.split()
        make = makemod[0]
        model = ' '.join(makemod[1:])
        version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
        version = version.split()
        engine = ''.join(version[0])
        trim = " ".join(version[1:])
        dets = tr.find_all(attrs={'data-test-id':'tags'})
        details = dets[0]
        details_str = str(details)  # Convert the first object in the list to a string
        matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
        Electric)', details_str)
        trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
        mileage = matches[0] if 'miles' in matches[0] else None
        registration = matches[1] if 'reg' in matches[1] else None
        price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
        vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
        vehicles.append(vehicle)

## Merc

In [13]:
url = 'https://www.cazoo.co.uk/cars/mercedes-benz/'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
tbody = table.find_all('li')
tbody = tbody[2:]

In [ ]:
tbody

In [14]:
for tr in tbody:
    make_model = tr.find(attrs={'data-test-id':'card-title'}).text
    makemod = make_model.split()
    make = makemod[0]
    model = ' '.join(makemod[1:])
    version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
    version = version.split()
    engine = ''.join(version[0])
    trim = " ".join(version[1:])
    dets = tr.find_all(attrs={'data-test-id':'tags'})
    details = dets[0]
    details_str = str(details)  # Convert the first object in the list to a string
    matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
    Electric)', details_str)
    trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
    mileage = matches[0] if 'miles' in matches[0] else None
    registration = matches[1] if 'reg' in matches[1] else None
    price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
    vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
    vehicles.append(vehicle)

In [15]:
for i in range(2, 8):
    url = 'https://www.cazoo.co.uk/cars/mercedes-benz/?page=' + str(i)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
    tbody = table.find_all('li')
    tbody = tbody[2:]
    for tr in tbody:
        make_model = tr.find(attrs={'data-test-id':'card-title'}).text
        makemod = make_model.split()
        make = makemod[0]
        model = ' '.join(makemod[1:])
        version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
        version = version.split()
        engine = ''.join(version[0])
        trim = " ".join(version[1:])
        dets = tr.find_all(attrs={'data-test-id':'tags'})
        details = dets[0]
        details_str = str(details)  # Convert the first object in the list to a string
        matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
        Electric)', details_str)
        trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
        mileage = matches[0] if 'miles' in matches[0] else None
        registration = matches[1] if 'reg' in matches[1] else None
       
        price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
        vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
        vehicles.append(vehicle)

## BMW

In [16]:
url = 'https://www.cazoo.co.uk/cars/bmw/'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
tbody = table.find_all('li')
tbody = tbody[2:]

In [17]:
for tr in tbody:
    make_model = tr.find(attrs={'data-test-id':'card-title'}).text
    makemod = make_model.split()
    make = makemod[0]
    model = ' '.join(makemod[1:])
    version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
    version = version.split()
    engine = ''.join(version[0])
    trim = " ".join(version[1:])
    dets = tr.find_all(attrs={'data-test-id':'tags'})
    details = dets[0]
    details_str = str(details)  # Convert the first object in the list to a string
    matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
    Electric)', details_str)
    trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
    mileage = matches[0] if 'miles' in matches[0] else None
    registration = matches[1] if 'reg' in matches[1] else None
    price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
    vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
    vehicles.append(vehicle)

In [18]:
for i in range(2, 9):
    url = 'https://www.cazoo.co.uk/cars/bmw/?page=' + str(i)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
    tbody = table.find_all('li')
    tbody = tbody[2:]
    for tr in tbody:
        make_model = tr.find(attrs={'data-test-id':'card-title'}).text
        makemod = make_model.split()
        make = makemod[0]
        model = ' '.join(makemod[1:])
        version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
        version = version.split()
        engine = ''.join(version[0])
        trim = " ".join(version[1:])
        dets = tr.find_all(attrs={'data-test-id':'tags'})
        details = dets[0]
        details_str = str(details)  # Convert the first object in the list to a string
        matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
        Electric)', details_str)
        trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
        mileage = matches[0] if 'miles' in matches[0] else None
        registration = matches[1] if 'reg' in matches[1] else None
       
        price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
        vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
        vehicles.append(vehicle)

## Volkswagen

In [19]:
url = 'https://www.cazoo.co.uk/cars/volkswagen/'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
tbody = table.find_all('li')
tbody = tbody[2:]

In [20]:
for tr in tbody:
    make_model = tr.find(attrs={'data-test-id':'card-title'}).text
    makemod = make_model.split()
    make = makemod[0]
    model = ' '.join(makemod[1:])
    version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
    version = version.split()
    engine = ''.join(version[0])
    trim = " ".join(version[1:])
    dets = tr.find_all(attrs={'data-test-id':'tags'})
    details = dets[0]
    details_str = str(details)  # Convert the first object in the list to a string
    matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
    Electric)', details_str)
    trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
    mileage = matches[0] if 'miles' in matches[0] else None
    registration = matches[1] if 'reg' in matches[1] else None
    price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
    vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
    vehicles.append(vehicle)

In [21]:
for i in range(2, 9):
    url = 'https://www.cazoo.co.uk/cars/bmw/?page=' + str(i)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find(attrs={'class':"resultsstyles__ResultsList-sc-11kjmxu-0 ezjHRs"})
    tbody = table.find_all('li')
    tbody = tbody[2:]
    for tr in tbody:
        make_model = tr.find(attrs={'data-test-id':'card-title'}).text
        makemod = make_model.split()
        make = makemod[0]
        model = ' '.join(makemod[1:])
        version = tr.find(attrs={'class':'vehicle-cardstyles__DisplayVariant-sc-1bxv5iu-9 fxjZPj'}).text
        version = version.split()
        engine = ''.join(version[0])
        trim = " ".join(version[1:])
        dets = tr.find_all(attrs={'data-test-id':'tags'})
        details = dets[0]
        details_str = str(details)  # Convert the first object in the list to a string
        matches = re.findall(r'(\d[\d,]* miles|\d{4} reg|Auto|Manual|Petrol|Diesel|Hybrid|\
        Electric)', details_str)
        trans = matches[2] if 'Auto' in matches[2] or 'Manual' in matches[2] else None
        mileage = matches[0] if 'miles' in matches[0] else None
        registration = matches[1] if 'reg' in matches[1] else None
       
        price = tr.find(attrs={'data-test-id':'card-pricing-full-price-gb'}).text
        vehicle = {'make':make, 'model': model, 'engine_size':engine,'trim':trim, 'mileage':mileage,
               'reg_year':registration, 'transmission_type':trans, 'fuel_type':fuel_type,
               'price':price
              }
        vehicles.append(vehicle)

In [22]:
cazoo_df = pd.DataFrame(vehicles)
cazoo_df

,make,model,engine_size,trim,mileage,reg_year,transmission_type,fuel_type,price
0,Skoda,Citigo,1.0,MPI Colour Edition,"69,660 miles",2018 reg,Manual,Petrol,"£6,600"
1,Kia,Rio,1.25,1,"81,605 miles",2016 reg,Manual,Petrol,"£5,700"
2,Peugeot,108,1.2,PureTech Allure,"60,519 miles",2018 reg,Manual,Petrol,"£6,950"
3,Smart,forfour,1.0,Pure,"30,606 miles",2018 reg,Manual,Petrol,"£7,050"
4,Fiat,500,1.2,Lounge,"36,651 miles",2018 reg,Manual,Petrol,"£7,950"
...,...,...,...,...,...,...,...,...,...
1683,BMW,X5,3.0,30d M Sport Auto xDrive,"39,067 miles",2020 reg,Auto,Petrol,"£42,450"
1684,BMW,X3,2.0,30e 12kWh M Sport Auto xDrive,"6,005 miles",2021 reg,Auto,Petrol,"£41,950"
1685,BMW,X5,3.0,40d M Sport Auto xDrive,"30,852 miles",2018 reg,Auto,Petrol,"£32,650"
1686,BMW,X5,3.0,40d M Sport Auto xDrive,"30,297 miles",2018 reg,Auto,Petrol,"£34,150"
1687,BMW,X5,3.0,45e 24kWh M Sport Auto xDrive,"18,775 miles",2020 reg,Auto,Petrol,"£51,000"

In [ ]:
cazoo_df.to_csv('../Data/cazoo_vehicles.csv', index=False)

In [23]:
cazoo_df['make'].value_counts()

BMW              665
Mercedes-Benz    284
Audi             259
Vauxhall         120
Ford              78
Volkswagen        56
Renault           29
Skoda             28
Peugeot           24
Toyota            21
Nissan            20
Citroen           18
Seat              18
Fiat              16
Dacia              9
Hyundai            8
Kia                8
MG                 6
DS                 6
Suzuki             5
Smart              5
Mazda              3
Mitsubishi         2
Name: make, dtype: int64

# Cinch

In [ ]:
url2 = 'https://www.cinch.co.uk/find-vehicle'
res2 = requests.get(url)
soup2 = BeautifulSoup(res.content, 'html.parser')
soup2.find(attrs={'class':'listing-results-module--list--4adde'})