In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cleaning

## Cazoo

In [2]:
cazoo = pd.read_csv('../Data/cazoo_vehicles.csv')
cazoo.head()

,make,model,engine_size,trim,mileage,reg_year,transmission_type,fuel_type,price
0,Volvo,V40,2.0,T2 Momentum,"42,006 miles",2019 reg,Manual,Petrol,"£12,150"
1,Volvo,V40,2.0,T2 R-Design Edition,"34,495 miles",2019 reg,Manual,Petrol,"was £13,700£13,450"
2,Volvo,V40,2.0,D2 R-Design Edition Auto,"76,673 miles",2019 reg,Auto,Petrol,"£12,900"
3,Volvo,V40,1.5,T3 Momentum Nav Plus Auto,"67,129 miles",2017 reg,Auto,Petrol,"£11,650"
4,Volvo,V40,2.0,T2 R-Design Nav,"36,756 miles",2016 reg,Manual,Petrol,"£12,250"